<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
        <img src="../assets/logo.png" width="180px" height="120px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="home()">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  (click)="about()">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="service()">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/gallery">Gallery</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn" type="submit" routerLink="/enquiryform">For Enquiry ?</button>
      </form>
    </div>
  </nav>