
  <app-navbar></app-navbar>
  <br><br>  <br><br>  <br><br>  <br><br>

<!-- home page start -->
<!-- intro starts -->
<div class="container">
<section class="home py-5">
  <div class="container-lg">
      <div class="row  min-vh-100 align-items-center align-content-center">
          <div class="col-md-6  mt-5 mt-md-0">
              <div class="home-img  text-center">
                  <img src="../assets/homeimg2.png" class="mw-100" alt="profile img" width="500px" height="450px">
              </div>
          </div>
          <div class="col-md-6  mt-5 mt-md-0 order-md-first">
              <div class="home-text">
              <p class="safettext"><strong> Service behind your safety</strong></p>
              <h2 class="fs-4">We are India's </h2>
              <h2 class="fs-4"><strong style="color: #672D8D;">Best</strong> Security Service Bureau
              </h2>
                </div>
          </div>
      </div>
  </div>
</section>
</div>
<!-- home page ends -->
    <!-- About us page starts -->
    <h2 class="text-center">About Us </h2>
    <br>
    <div class="container"  id="#about">
        Since its founding in 2003, Infinite Security Services, Inc. has been a reliable, full-service provider of security-related services for our clients. First launched as a licensed, Private Investigation services provider, ISS has evolved and expanded its services to include a full range of quality, dependable security services, all provided by the most best-trained professionals in the industry. When customers choose Infinite Security Service investigative, security, services, they can rest assured that their security-related interests are in good hands.

We are registered systematically by the Tamil Nadu State Govt and we provide our security guards and staffs with ESI and PF. Our Guards are professionally well dressed and highly disciplined they specialize in first Aid and Fire Fighting and entire survival of the firm. Inward and outward all gate movements, proper day and night checking.

We assure that our services will give satisfaction for your esteemed clients and we render service always with good compliments.
    </div>
    <br>
    <br>
    <!-- about us page ends -->

   
    <br>
    <div class="text-center">
        <img src="../assets/psize3.png" width="200px"height="200px" class="rounded-circle shadow-4-strong" alt="...">
        <br>
        <br>
        <div class="container text-muted">Velu K, Founder</div>
        <br>
        <div class="container">
       Velu K started his journey in 1993 as a security guard and ep by step he was promoted in his ranking. After being a manager for a while, he started his own business (Infinity Security) and now through his service he helps many companies and individuals.
    </div>
        <br>
        <br>
        </div>
        <div class="text-center">
            <img src="../assets/psize2.jpg" width="200px"height="200px" class="rounded-circle shadow-4-strong" alt="...">
          <br>
          <br>
          <div class="container text-muted">Surendiran V,Managing Director</div>
          <br>
          <div class="container">
            Establish companypolicies and legal guidelines. Develop and implement comprehensive business plans. Oversee the  market changes and forces thatinfluence the company.
            </div>
          <br>
          <br>
          </div>
        <div class="text-center">
            <img src="../assets/psize1.jpg"  width="200px"height="200px" class="rounded-circle shadow-4-strong" alt="...">
          <br>
          <br id="services">
          <div class="container text-muted"  >Susiendiran V, Operations Director</div>
          <br>
          <div class="container">
          Helps set strategic goals and is responsible for the flow of operations information to the chief executive and the company. They Prioritise Safety First and Then the Customer.
          </div>
          <br >
          <br>
          </div>
<!-- Management team ends -->
<!-- service component starts -->
<h2 class="text-center" >Services</h2>
<br>
<br>
<div class="container">
<div class="card-deck">
  <div class="card">
   
    <div class="card-body">
      <div class="card-title text-center"><strong> Guards</strong></div>
      <p class="card-text">At Infinite Security Service we understand that your security guard needs may be different than everyone else's. While some companies and events require armed security to protect propy employees, customers, or guests, others require a different approach involving unarmed security guards. Whatever your needs, we have the professional, licensed guards you need to safeguard lives and property, providing effective, high- quality guard services for public and private events, hotel gatherings, businesses, warehouses, schools, churches, and more.</p>
    </div>
 
  </div>
  <div class="card">
    <div class="card-body">
      <div class="card-title text-center"><strong>Armed Security</strong> </div>
      <p class="card-text">For celebrities, business executives, and other VIPS, danger can arise from nearly anywhere. People in the public eye routinely face threats from stalkers, angry fans, disgruntled employees, ideological foes, and others. Unfortunately, the police and other law enforcement officials cannot be everywhere. Vulne le VIPS often need to rely on private armed security to protect themselves, their families, and their interests. Infinite Security Service provides the licensed and trained security personnel you need to minimize potential risk, increase your personal security, and keep you safe.</p>
    </div>
  </div>
  <div class="card">
  
    <div class="card-body">
      <div class="card-title text-center"><strong> Important Role of the Security Guard</strong></div>
      <p class="card-text">
        Security guards do more than just stand watch. Competent, well-trained security personnel can provide a variety of critical services for their clients, including:
        <br>
        • Personal prote on to keep you and/or others safe from theft, violence, and other criminal acts
        
        Observation and deterrence that protects property
        <br>
        
        • Patrol services for neighborhoods,
        
        campuses, and other areas
        <br>
        • Rapid response to security alarms and
        
        crisis situations
        <br>
        • Guard services to protect cash and other hard assets</p>
    </div>
  </div>
</div>
</div>
<br>
<div class="container">
  <div class="card-deck">
    <div class="card">

      <div class="card-body">
        <div class="card-title text-center"><strong>Armed and Unarmed Security Guard Training</strong></div>
        <p class="card-text">New York City's high crime rate, affluence, and large population make it almost impossible for the police to protect all residents and their property. As a result, many companies and individuals rely private unarmed security or armed security guard services to provide the protection they need. If you are interested in a lucrative and satisfying career as an unarmed or armed guard, International Security Services, Inc. is here to provide the security guard training you need.</p>
      </div>
    </div>
    <div class="card">
  
      <div class="card-body">
        <div class="card-title text-center"><strong>House Keeping</strong></div>
        <p class="card-text">Housekeeping refers to the management of duties and chores involved in the running of a household, such as cleaning, Office maintenance, shopping, and bill payment. These tasks may be performed by members of the household, or by other persons hired for the purpose. The term is also used to refer to the money allocated for such use. By extension, it may also refer to an office or organization, as well as the maintenance of computer storage systems.</p>
      </div>
    </div>
    <div class="card">
     
      <div class="card-body">
        <div class="card-title text-center"><strong>General Investigation Services</strong></div>
        <p class="card-text">Most general investigations involve private matters where discretion is an absolute necessity. At Infinite Security Services, Inc. (ISS), our private investigator experts understand the sensitive nature of many of these issues, and are committed to providing quality, effective vestigations in a covert way that protects your secrets while respecting your privacy.</p>
      </div>
    </div>
  </div>
</div>
  <!-- service component ends -->
<!-- Our Clients starts -->
<br>
<br><br>
<h2 class="text-center">Our Clients </h2>
<br>
<marquee>
    <img width="150px"  height="100px" src="../assets/client.jpg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img width="150px"  height="100px" src="../assets/client2.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img width="150px"  height="100px" src="../assets/client3.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img width="150px"  height="100px" src="../assets/client4.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img width="150px"  height="100px" src="../assets/client5.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img width="150px"  height="100px" src="../assets/client6.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img width="150px"  height="100px" src="../assets/client7.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img width="150px"  height="100px" src="../assets/client9.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</marquee>
<!-- Our Clients ends -->
  <br>
  <br>
  <!-- Footer -->
<footer class="footer text-center text-lg-start  text-muted">
    <br>
      <section class="footer">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
          
              </h6>
             <img src="../assets/logo2.png" width="200px" height="150px">
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            
              <h6 class="text-uppercase fw-bold mb-4">
                Contact
              </h6>
              <p>
                <a href="" class="text-decoration-none text-muted"> Bangi Nagar, India</a>
              </p>

              <p>
                <a href="Mailto:info@infinitesecurity.in" class="text-decoration-none text-muted">info@infinitesecurity.in</a>
              </p>
              <p>
                <a href="tel:9597476883" class="text-decoration-none text-muted" >+ 91 9597476883</a>
              </p>
              <p>
                <a href="tel:9789451184" class="text-decoration-none text-muted" >+ 91 9789451184</a>
              </p>
              <p>
                <a href="tel:8825403185" class="text-decoration-none text-muted" >+ 91 8825403185</a>
              </p>
              <p>
                <a  routerLink="/enquiryform" class="text-decoration-none text-muted">For Enquiry?</a>
              </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Follow On</h6>
              <div class="d-flex  text-center">
                <div class="p-2">
                  <a href=" https://wa.me/+91 8825403185">
                  <i class="fa-brands fa-whatsapp fa-2x"></i>
                </a>
                </div>
                <div class="p-2">
                  <a href="https://www.facebook.com/Isurendiran?mibextid=ZbWKwL">
                  <i class="fa-brands fa-facebook fa-2x"></i>
                </a>
                </div>
                <div class="p-2">
                  <a href="https://www.instagram.com/invites/contact/?i=1thy819eoe1e3&utm_content=bp3hfse">
                  <i class="fa-brands fa-instagram fa-2x"></i>
                  </a>
                </div>
                <div class="p-2">
                  <a href="mailto:info@infinitesecurity.in">
                <i class="fa-solid fa-envelope fa-2x"></i>
                  </a>
                </div>
                <div class="p-2">
                  <a href="tel:8825403185">
                    <i class="fa-solid fa-phone fa-2x"></i>
                </a>
                </div>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-decoration-none  text-muted fw-bold" href="mailto:info@infinitesecurity.in">InfiniteSecurity</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->