
  <app-navbar></app-navbar>
  <br><br>  <br><br>  <br><br>  <br><br>
  <body>
<!-- home page start -->

<div class="container">
    <img src="../assets/securitystaff.png" height="530px" class="float-left">
<h4>we are India's </h4>
<h4><strong style="color: #672D8D;">Best</strong> Security Service </h4>
</div>
<!-- home page ends -->
    <!-- About us page starts -->
    <h2 class="text-center">About Us </h2>
    <br>
    <div class="container">
        Since its founding in 2003, Infinite Security Services, Inc. has been a reliable, full-service provider of security-related services for our clients. First launched as a licensed, Private Investigation services provider, ISS has evolved and expanded its services to include a full range of quality, dependable security services, all provided by the most best-trained professionals in the industry. When customers choose Infinite Security Service investigative, security, services, they can rest assured that their security-related interests are in good hands.

We are registered systematically by the Tamil Nadu State Govt and we provide our security guards and staffs with ESI and PF. Our Guards are professionally well dressed and highly disciplined they specialize in first Aid and Fire Fighting and entire survival of the firm. Inward and outward all gate movements, proper day and night checking.

We assure that our services will give satisfaction for your esteemed clients and we render service always with good compliments.
    </div>
    <br>
    <br>
    <!-- about us page ends -->

    <!-- Management team starts -->
    <h2 class="text-center">Management Teams </h2>
    <br>
    <div class="text-center">
        <img src="../assets/psize3.jpg" width="200px"height="200px" class="rounded-circle shadow-4-strong" alt="...">
        <br>
        <br>
        <h6 class="text-muted">Velu K, Founder</h6>
        <div class="container">
        <h6>Velu K started his journey in 1993 as a security guard and ep by step he was promoted in his ranking. After being a manager for a while, he started his own business (Infinity Security) and now through his service he helps many companies and individuals.</h6>
    </div>
        <br>
        <br>
        </div>
        <div class="text-center">
            <img src="../assets/psize2.jpg" width="200px"height="200px" class="rounded-circle shadow-4-strong" alt="...">
          <br>
          <br>
          <h6 class="text-muted">Surendiran V,Managing Director</h6>
          <div class="container">
          <h6>Establish companypolicies and legal guidelines. Develop and implement comprehensive business plans. Oversee the  market changes and forces thatinfluence the company.</h6>
            </div>
          <br>
          <br>
          </div>
        <div class="text-center">
            <img src="../assets/psize1.jpg" width="200px"height="200px" class="rounded-circle shadow-4-strong" alt="...">
          <br>
          <br>
          <h6 class="text-muted">Susiendiran V, Operations Director</h6>
          <div class="container">
          <h6>Helps set strategic goals and is responsible for the flow of operations information to the chief executive and the company. They Prioritise Safety First and Then the Customer.</h6>
          </div>
          <br>
          <br>
          </div>
<!-- Management team ends -->
<!-- Our Clients starts -->
<h2 class="text-center">Our Clients </h2>
<br>
<marquee>
    <img width="150px"  height="100px" src="../assets/client.jpg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img width="150px"  height="100px" src="../assets/client2.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img width="150px"  height="100px" src="../assets/client3.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img width="150px"  height="100px" src="../assets/client4.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img width="150px"  height="100px" src="../assets/client5.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img width="150px"  height="100px" src="../assets/client6.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img width="150px"  height="100px" src="../assets/client7.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img width="150px"  height="100px" src="../assets/client9.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</marquee>
<!-- Our Clients ends -->
  </body>
  <br>
  <!-- Footer -->
<footer class="footer text-center text-lg-start  text-muted">
    <br>
      <section class="footer">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
          
              </h6>
             <img src="../assets/logo2.png">
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            
              <h6 class="text-uppercase fw-bold mb-4">
                Contact
              </h6>
              <p>
                <a href="" class="text-decoration-none text-muted"> Bangi Nagar, India</a>
              </p>

              <p>
                <a href="Mailto:jfinagles@gmail.com" class="text-decoration-none text-muted">info@infinitesecurity.in</a>
              </p>
              <p>
                <a href="../assets/pic3.jpeg" class="text-decoration-none text-muted" download>+ 91 9789451184</a>
              </p>
              <p>
                <a  routerLink="/enquiryform" class="text-decoration-none text-muted">For Enquiry?</a>
              </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Follow On</h6>
              <div class="d-flex flex-row text-center">
                <div class="p-2"><i class="fa-brands fa-whatsapp fa-2x"></i></div>
                <div class="p-2"><i class="fa-brands fa-facebook fa-2x"></i></div>
                <div class="p-2"><i class="fa-brands fa-twitter fa-2x"></i></div>
                <div class="p-2"><i class="fa-brands fa-instagram fa-2x"></i></div>
                <div class="p-2"><i class="fa-brands fa-linkedin fa-2x"></i></div>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-decoration-none  text-muted fw-bold" href="mailto:jfinangles@gmail.com">JCT-CSE-21-25</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->